.app-wrapper {
    position: relative;
    max-width: 1010px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 36px;
    background-color: #fff;
}

.ant-spin-spinning {
    position: absolute;
    top: 50%;
    left: 50%;
}

.ant-alert {
    position: absolute;
    top: 45%;
    left: 15%;
    right: 15%;
}

@media (max-width: 540px) {
    .app-wrapper {
        padding: 16px;
    }

    
}


