.card {
    display: grid;
    grid-template-columns: 203px 1fr;
}

.ant-image {
    margin-right: 20px;
    grid-column: 1/2;
    grid-row: 1/6;
}

.card__img {
    width: 183px;
    height: 281px;
}

.card-top {
    margin: 10px 45px 0 0;
    grid-column: 2/3;
    grid-row: 1/2;
}

h5.ant-typography.card-title {
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}

.movie-retting {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* От 0 до 3 - #E90000
От 3 до 5 - #E97E00
От 5 до 7 - #E9D100
Выше 7 - #66E900 */

.retting-svg {
    position: relative;
    width: 34px;
    height: 34px;
    
}

.retting-num {
    position: absolute;
    font-size: 12px;
    color: #827E7E;
}

.retting-small {
    stroke: #E90000;
}

.retting-average {
    stroke: #E97E00;
}

.retting-normal {
    stroke: #E9D100;
}

.retting-good {
    stroke: #66E900;
}

.movie-release {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 12px;
    color: #827E7E;
}

.genres {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 5px 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.movie-description {
    margin-right: 20px;
    grid-column: 2/3;
    grid-row: 4/5;
}

.ant-rate {
    margin: 0 20px 15px 0;
    grid-column: 2/3;
    grid-row: 5/6;
    font-size: 15px;
}

.genre-wr {
    margin-top: 5px;
    padding: 0 3px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

.genre-wr:not(:last-child) {
    margin-right: 8px;
}

.ant-typography.description-text {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
    color: #000;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.star-item svg {
    width: 18px;
    height: 18px;
    fill: #9b979767;
}

.anticon:not(:last-child) {
    margin-right: 5px;
}

.active-retting svg path {
    fill: #e6e60b;
}

.stars-collection {
    padding-left: 5px;
    margin-top: auto;
}



@media (max-width: 992px) {

    .movie-description {
        max-width: 90%;
    }

    .ant-rate {
        display: flex;
        justify-content: end;
    }
}

@media (max-width: 540px) {
    .card {
        grid-template-columns: 90px 1fr;
    }
    .ant-image {
        margin-right: 13px;
        max-width: 83px;
        grid-column: 1/2;
        grid-row: 1/4;
    }
    .card__img {
        margin: 6px 0 10px 10px;
        width: 60px;
        height: 91px;
    }

    .movie-description {
        margin-left: 10px;
        max-width: 100%;
        grid-column: 1/3;
        grid-row: 4/5;
    }
}
