.card {
    display: flex;
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px 20px 20px 20px;
}

.card-top {
    margin-right: 25px;
}

h4.ant-typography.card-title {
    font-weight: 400;
    color: #000;
}

.movie-retting {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./Ellipse.png) no-repeat center;
}

.movie-release {
    font-size: 12px;
    color: #827E7E;
}

.card-buttons {
    margin-top: 10px;
}

.ant-btn.card-btn {
    margin-right: 8px;
    height: 24px;
    padding: 1px 5px;
    border-radius: 2px;
}

.ant-btn.card-btn span {
    height: 14px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
}

.ant-typography.description-text {
    margin-top: 10px;
    font-size: 12px;
    color: #000;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.star-item svg {
    width: 18px;
    height: 18px;
    fill: #9b979767;
}

.anticon:not(:last-child) {
    margin-right: 5px;
}

.active-retting svg path {
    fill: #e6e60b;
}

.stars-collection {
    padding-left: 5px;
    margin-top: auto;
}

.ant-rate {
    font-size: 15px;
}